html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  max-width: 1069px;
  margin: 0 auto;
  background-image: url(D:/Projects/dasmotos/resources/images/pattern.jpeg);
}

.heading {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  padding-bottom: 100px
}

.categories {
  background-color: white;
  padding: 25px;

}

.brushes h2 {
  background-color: mediumspringgreen;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;

}

.brushes span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;

}

.frames h2 {
  background-color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.frames span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

.paint h2 {
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.paint span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
